@model Patient



<div class="row">
    <div class="col-12">
        <a class="progressbar-front-text"><i class=" fa fa-stethoscope"></i> <span>HSM Hospital</span></a>
        <h4 class="header-title">Patient Create</h4>
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><i style="font-size:large" class="fa fa-male"></i></li>
            <li class="breadcrumb-item">Patient Management </li>
            <li class="breadcrumb-item">Patient Registration </li>
            <li class="breadcrumb-item active">Patient Create</li>
        </ul>
        
        
        <form method="post" enctype="multipart/form-data" class="row g-3 needs-validation" novalidate>
            <div class="col-md-6">
                <div class="form-outline">
                    <label asp-for="Name" for="validationCustom03" class="form-label"></label>
                    <input asp-for="Name" class="form-control" id="validationCustom03" required />
                   
                    <div class="invalid-feedback">Please provide a valid name.</div>
                 
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-outline">
                  <label asp-for="Surname" for="validationCustom03" class="form-label"></label>

                    <input asp-for="Surname" class="form-control" id="validationCustom03" required />
                    <div class="invalid-feedback">Please provide a valid surname.</div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-outline">
                    <label asp-for="FatherName" for="validationCustom05" class="form-label"></label>
                    <input asp-for="FatherName" class="form-control" id="validationCustom05" required />
                    
                    <div class="invalid-feedback">Please provide a valid father name.</div>
                </div>
            </div>
              <div class="col-md-6">
              <div class="form-outline">
                    <label asp-for="Age" for="validationCustom05" class="form-label"></label>
                    <input asp-for="Age" class="form-control" id="validationCustom05" required />
                    
                    <div class="invalid-feedback">Please provide a valid age.</div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-outline">
                    <label asp-for="Number" for="validationCustom05" class="form-label"></label>

                    <input asp-for="Number" class="form-control" id="validationCustom05" required />
                    <div class="invalid-feedback">Please provide a valid number.</div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-outline">
                  <label asp-for="Address" for="validationCustom05" class="form-label"></label>

                    <input asp-for="Address" class="form-control" id="validationCustom05" required />
                    <div class="invalid-feedback">Please provide a valid address.</div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-outline">
                   <label asp-for="Birthday" for="validationCustom05" class="form-label"></label>

                    <input asp-for="Birthday" class="form-control" id="validationCustom05" required />
                    <div class="invalid-feedback">Please provide a valid birthday.</div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-outline">
                    <label asp-for="RegDate" for="validationCustom05" class="form-label"></label>
                    <input asp-for="RegDate" class="form-control" id="validationCustom05" required />
                    
                    <div class="invalid-feedback">Please provide a valid registration date.</div>
                </div>
            </div>
            

            <div class="col-md-6">
                <div class="form-outline">

                    <label for="heard">Select Blood Groups</label>
                    <select class="form-control"  name="bloodId"  >
                       
                        @foreach (BloodGroup bloodGroup in ViewBag.BloodGroups)
                        {
                            <option value="@bloodGroup.Id">@bloodGroup.GroupName</option>
                        }
                       
                       
                    </select>

                  
                  
                  
                </div>
                <div class="form-group">
                    <label class="form-label" asp-for="Gender">Male</label>
                    <input value="true" type="radio" asp-for="Gender">

                    <label class="form-label" asp-for="Gender">Female</label>
                    <input value="false" type="radio" asp-for="Gender">

                    <span asp-validation-for="Gender" class="text-danger"></span>
                </div>
            </div>
         
            <div class="col-12">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required />
                    <label class="form-check-label" for="invalidCheck">Agree to terms and conditions</label>
                    <div class="invalid-feedback">You must agree before submitting.</div>
                </div>
            </div>
            <div class="col-12">
                <button style="margin-top:8px" class="btn btn-primary" type="submit"><i class="bi bi-upload"></i> Submit</button>
                <a asp-action="Index" style="margin-top:8px" class="btn btn-dark"><i class="bi bi-backspace-fill"></i> Go Back</a>
            </div>

        </form>

    </div>

</div>
@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}
<script>
    (function () {
        'use strict'

        var forms = document.querySelectorAll('.needs-validation')

        Array.prototype.slice.call(forms)
            .forEach(function (form) {
                form.addEventListener('submit', function (event) {
                    if (!form.checkValidity()) {
                        event.preventDefault()
                        event.stopPropagation()
                    }

                    form.classList.add('was-validated')
                }, false)
            })
    })()
</script>

