@model ResetPasswordVM

            <!-- page content -->
            <div  class="col-7" role="main">
                <div class="">
                   
                    <div class="clearfix"></div>

                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                            <div class="x_panel">
                                 <div class="x_title d-flex justify-content-between ">
                                    <h2>Reset Password </h2>
                                      <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                               
                                    <div class="clearfix"></div>
                                </div>
                                <div class="x_content">
                                    <form  method="post" >
                                       
                                        <div class="field item form-group">
											<div class="col-md-9 col-sm-9">

                                                <input asp-for="Password" class="form-control" placeholder="Password" />
                                              <span asp-validation-for="Password" class="text-danger"></span>
												
												
                                               
											</div>
                                           
										</div>
                                        
                                        <div class="field item form-group">
          
                                            <div class="col-md-9 col-sm-9">
                                                <input asp-for="CheckPassword" class="form-control"  placeholder="CheckPassword"  />
                                              <span asp-validation-for="CheckPassword" class="text-danger"></span>
                                            </div>
                                           
                                        </div>
                                        
                                        <div class="ln_solid">
                                            <div class="form-group">
                                                <div class="col-md-6 offset-md-3">
                                        <button type='submit' style="margin-top:7px; margin-left:70px" class="btn btn-primary"><i class="bi bi-upload"></i> Submit</button>
                                        <a asp-action="Index" style="margin-top:7px" class="btn btn-dark"><i class="bi bi-backspace-fill"></i> Go Back</a>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    @section Scripts{
    <partial name="_ValidationScriptsPartial" />
    }       

            
   @*     </div>
    </div>
*@

   @* <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="~/vendors/validator/multifield.js"></script>
    <script src="~/vendors/validator/validator.js"></script>
    <script src="~/vendors/parsleyjs/dist/parsley.min.js"></script>
    
    <!-- Javascript functions	-->
	<script>
		function hideshow(){
			var password = document.getElementById("password1");
			var slash = document.getElementById("slash");
			var eye = document.getElementById("eye");
			
			if(password.type === 'password'){
				password.type = "text";
				slash.style.display = "block";
				eye.style.display = "none";
			}
			else{
				password.type = "password";
				slash.style.display = "none";
				eye.style.display = "block";
			}

		}
	</script>

    <script>
        // initialize a validator instance from the "FormValidator" constructor.
        // A "<form>" element is optionally passed as an argument, but is not a must
        var validator = new FormValidator({
            "events": ['blur', 'input', 'change']
        }, document.forms[0]);
        // on form "submit" event
        document.forms[0].onsubmit = function(e) {
            var submit = true,
                validatorResult = validator.checkAll(this);
            console.log(validatorResult);
            return !!validatorResult.valid;
        };
        // on form "reset" event
        document.forms[0].onreset = function(e) {
            validator.reset();
        };
        // stuff related ONLY for this demo page:
        $('.toggleValidationTooltips').change(function() {
            validator.settings.alerts = !this.checked;
            if (this.checked)
                $('form .alert').remove();
        }).prop('checked', false);

    </script>

    <!-- jQuery -->
    <script src="~/vendors/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="~/vendors/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <!-- FastClick -->
    <script src="~/vendors/fastclick/lib/fastclick.js"></script>
    <!-- NProgress -->
    <script src="~/vendors/nprogress/nprogress.js"></script>
    <!-- validator -->
    <!-- <script src="~/vendors/validator/validator.js"></script> -->

    <!-- Custom Theme Scripts -->
    <script src="~/build/js/custom.min.js"></script>

</body>

</html>*@
