@model ItemCategory
<div class="row">
     <div class="col-12">
         <a class="progressbar-front-text"><i class=" fa fa-stethoscope"></i> <span>HSM Hospital</span></a>
        <h4 class="header-title">Item Category Create</h4>
       
            <ul class="breadcrumb">
            <li class="breadcrumb-item"><i style="font-size:small" class="bi bi-bag-plus-fill"></i></li>
            <li class="breadcrumb-item">Inventory Management </li>
            <li class="breadcrumb-item">Item Category </li>
            <li class="breadcrumb-item active">Item Category Create</li>
        </ul>
     </div>
    
    <div class="col-5">
       
         <form method="post" class="row g-3 needs-validation" novalidate>



            <div class="col-md-12">
                <label asp-for="Name" for="validationCustom03" class="form-label"></label>
                <input asp-for="Name" class="form-control" id="validationCustom03" required>
                <span asp-validation-for="Name" class="text-danger"></span>
                 <div class="invalid-feedback">
                    The Name field is required.
                </div>
                
            </div>
            <div class="col-md-12">
                <label asp-for="Description" for="validationCustom04" class="form-label"></label>
                <textarea asp-for="Description" class="form-control" id="validationCustom04" required></textarea>
                <div class="invalid-feedback">
                    The Description field is required.
                </div>

            </div>

             


            <div class="col-12">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
                    <label class="form-check-label" for="invalidCheck">
                        Agree to terms and conditions
                    </label>
                    <div class="invalid-feedback">
                        You must agree before submitting.
                    </div>
                </div>
            </div>
            <div class="col-12">
                <button style="margin-top:8px" class="btn btn-primary" type="submit"><i class="bi bi-upload"></i> Submit</button>
                <a asp-action="Index" style="margin-top:8px" class="btn btn-dark"><i class="bi bi-backspace-fill"></i> Go Back</a>
            </div>
        </form>
       
    </div>
</div>
@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}
<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function () {
        'use strict'

        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        var forms = document.querySelectorAll('.needs-validation')

        // Loop over them and prevent submission
        Array.prototype.slice.call(forms)
            .forEach(function (form) {
                form.addEventListener('submit', function (event) {
                    if (!form.checkValidity()) {
                        event.preventDefault()
                        event.stopPropagation()
                    }

                    form.classList.add('was-validated')
                }, false)
            })
    })()
</script>
